
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato'
    display: flex;
    flex-direction: column;
    background-color: #073B3A;
    color: #ffffff;
}

.title {
    color: #ffffff;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DDB771;
    padding: 10px;
    margin: 30px;
    border-radius: 40px;
}

.subtitle-cont{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}

.sensor{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
}

.data_display{
    display: flex;
    flex-direction: column;
    background-color: #063735;
    color: #ffffff;
    border-radius: 10px;
    width: 40vh;
    text-align: center;
}

.control{
    display: flex;
    Flex-direction: column;
    text-align: center;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.control_display {
    display: flex;
    flex-direction: column;
    background-color: #063735;
    color: #ffffff;
    border 2px;
    border-radius: 10px;
    width: 100vh;
    text-align: center;
    justify-content: center;
}

.pumpDiv, .fanDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DDB771;
    color: #000000;
    width: min-content;
    margin-inline: auto;
    border-radius: 15px;
    margin: 10px;
}
.ledDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DDB771;
    color: #000000;
    margin-inline: auto;
    width: 60vh;
    border-radius: 15px;
    margin: 10px;
}

input[type="range"] {
    display: flex;
    width: 40vh;
    justify-content: center;
}
input[type="range"]:disabled {
  opacity: 0.5;
}
.pumpSlider, .fanSliderDiv, .ledSliderDiv{
    display: flex;
    justify-content: center;
}
.firstLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.secondLine{
    margin-inline: auto;
}

#temp, #air, #brightness, #moisture, #fan {
    font-weight: bold;
}
.autoControlPanel{
    flex-direction: row;
    background-color: #063735;
    border-radius: 10px;
    width: 100vh;
}

/* The switch - the box around the slider */
.autoswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}