<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="with=device_width, initial-scale=1.0">
  <title>Greenhouse</title>
  <link rel="stylesheet" href="static/styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  </style>
</head>

<body>
  <div class="title">
    <h1>Online Greenhouse</h1>
  </div>

  <div class="subtitle-cont">
    <div>
      <h2>Live Sensor Data</h2>

    </div>
    <div>
      <h2>Control Panel</h2>
    </div>
  </div>

  <div class="data_display">
    <p>Temperature: <span id="temp" ></span></p>
    <p>Soil Humidity: 60%></p>
    <p>Air Humidity: <span id="air"></span></p>
    <p>Brightness: <span id="brightness"></span></p>
    <p>Fan Speed: 400RPM</p>
  </div>


  <script>
    async function update() {
    const res = await fetch('/data');
    const data = await res.json();

    document.getElementById("temp").innerText = data.TEMP;
    document.getElementById("air").innerText = data.HUM;
    document.getElementById("brightness").innerText = data.BRIGHT;
    }

    setInterval(update, 1000);
  </script>
</body>
</html>