<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="with=device_width, initial-scale=1.0">
  <title>Greenhouse</title>
  <link rel="stylesheet" href="static/styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  </style>
</head>

<body>
  <div class="title">
    <h1>Online Greenhouse</h1>
  </div>
<hr>
  <div class="subtitle-cont">
    <div class="sensor">
      <h2>Live Sensor Data</h2>
      <div class="data_display">
        <p>Temperature: <span id="temp" ></span></p>
        <p>Soil Humidity: <span id="moisture"></span></p>
        <p>Air  Humidity: <span id="air"></span></p>
        <p>Brightness: <span id="brightness"></span></p>
        <p>Fan Speed: <span id="fan"></span></p>
      </div>
      Last data recieved: 2026-04-02-16:20:42
      <img class="gif" src="/cam" width="300">
    </div>
    <div class="control">
      <h2>Manual Control</h2>

      <div class="control_display">
        <div class="firstLine">
          <div class="pumpDiv">
            <h3>Water Pump:</h3>
            <div class="pumpSlider">
             <input type="range" id="pump" min="0" max="100" value="0">
            </div>
          <p>Pump speed: <span id="pumpValue">0</span>%</p>
          </div>
          <div class="fanDiv">
            <h3>Fan Speed:</h3>
            <div class="fanSliderDiv">
              <input type="range" id="fanSlider" min="0" max="1400" value="0">
            </div>
            <p>Fan Speed: <span id="fanValue">0</span>RPM</p>
          </div>

        </div>
        <div class="secondLine">
          <div class="ledDiv">
            <h3>LED Brightness:</h3>
            <div class="ledSliderDiv">
              <input type="range" id="ledSlider" min="0" max="100" value="0">
            </div>
            <p>LED Brightness: <span id="ledValue">0</span>%</p>
          </div>
        </div>
      </div>
      <div class="autoControl">
        <h2>Automatic Control</h2>
        <div class="autoControlPanel">
          Enable Auto-Mode:
          <label class="autoswitch">
            <input type="checkbox" id="manualOverride">
            <span class="slider round"></span>
          </label>
          <p>Mode: <span id="modeText">MANUAL</span></p>
        </div>

      </div>
    </div>
  </div>


<script>
function setupSlider(sliderId, displayId, key) {
  const slider = document.getElementById(sliderId);
  const display = document.getElementById(displayId);

  slider.oninput = async () => {
    await fetch('/set', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ [key]:slider.value})
    });
    display.innerText = slider.value;
  };
}

setupSlider("pump", "pumpValue", "pump");
setupSlider("fanSlider", "fanValue", "fan");
setupSlider("ledSlider", "ledValue", "led");
</script>



  <script>
    async function update() {
    const res = await fetch('/data');
    const data = await res.json();

    document.getElementById("temp").innerText = data.TEMP;
    document.getElementById("air").innerText = data.HUM;
    document.getElementById("brightness").innerText = data.BRIGHT;
    document.getElementById("moisture").innerText = data.SOIL;
    document.getElementById("fan").innerText = data.FAN;
    }

    setInterval(update, 1000);
  </script>

  <script>
  const toggle = document.getElementById("manualOverride");
  const slider = document.getElementById("fanSlider");
  const slider1 = document.getElementById("ledSlider");
  const slider2 = document.getElementById("pump");

  toggle.onchange = async function() {
    const mode = this.checked ? "AUTO" : "MANUAL";

    await fetch('/mode', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({ mode: mode })
    });
    document.getElementById("modeText").innerText = mode;
    slider.disabled = (mode === "AUTO");
    slider1.disabled = (mode === "AUTO");
    slider2.disabled = (mode === "AUTO");
  }
  </script>
</body>
</html>