<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="with=device_width, initial-scale=1.0">
  <title>Greenhouse</title>
  <link rel="stylesheet" href="static/styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  </style>
</head>

<body>
  <div class="title">
    <h1>Online Greenhouse</h1>
  </div>

  <div class="subtitle-cont">
    <div class="sensor">
      <h2>Live Sensor Data</h2>
      <div class="data_display">
        <p>Temperature: <span id="temp" ></span></p>
        <p>Soil Humidity: <span id="moisture"></span></p>
        <p>Air  Humidity: <span id="air"></span></p>
        <p>Brightness: <span id="brightness"></span></p>
        <p>Fan Speed: <span id="fan"></span></p>
      </div>
      Last data recieved: 2026-04-02-16:20:42
      <img class="gif" src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExenhxOWEzeTU4Y2hvdGQwNnhieDN4NnRtMz
      M4ZG55dWszYTZ4MzlkcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AXpnFlC5T2lIRezPUC/giphy.gif" width="300" height="300">
    </div>
    <div class="control">
      <h2>Control Panel</h2>
      <div class="control_display">
        <div class="pumpDiv">
          <h3>Water Pump:</h3>
          <div class="pumpSlider">
           <input type="range" id="pump" min="0" max="100" value="0">
          </div>
        <p>Pump speed: <span id="pumpValue">0</span></p>
        </div>


      </div>

    </div>
  </div>

  <script>
    const slider = document.getElementById("pump");
    const output = document.getElementById("pumpValue");

    slider.oninput = function() {
      output.innerText = this.value;
  }
  </script>

  <script>
    async function sendValue(value) {
      fetch('/set', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({ pump : value })
        });
    }

    slider.oninput = function() {
      output.innerText = this.value;
      sendValue(this.value);
}
</script>



  <script>
    async function update() {
    const res = await fetch('/data');
    const data = await res.json();

    document.getElementById("temp").innerText = data.TEMP;
    document.getElementById("air").innerText = data.HUM;
    document.getElementById("brightness").innerText = data.BRIGHT;
    document.getElementById("moisture").innerText = data.SOIL;
    document.getElementById("fan").innerText = data.FAN;
    }

    setInterval(update, 1000);
  </script>
</body>
</html>